/* ==============================



Universal Styling


================================*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: sans-serif;
    color: white;
    background: black;
}

header {
    background: #499feb;
    padding: 20px;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

header li {
    display: inline-block;
    margin: 0 50px;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

section {
    margin: 40px 0;
}

h1,
h2 {
    margin-bottom: 10px;
}