/* ==============================



Universal Styling


================================*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: sans-serif;
    color: white;
    background: black;
}

header {
    background: #499feb;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

header li {
    display: inline-block;
    margin: 0 50px;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

section {
    margin: 40px 0;
}

h1,
h2 {
    margin-bottom: 10px;
}


/* =====================================


Position Styling


=========================================*/

.hero {
    width: 1000px;
    position: relative;
    filter: brightness(0.8) blur(1px);
}

.logo {
    position: absolute;
    top: 20px;
}

.right {
    height: 500px;
    float: right;
    padding: 0 50px;
}