/* ==============================



Universal Styling


================================*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: sans-serif;
    color: white;
    background: black;
}

header {
    background: #499feb;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

header a:hover {
    color: yellow;
}

header li {
    display: inline-block;
    margin: 0 50px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 20px;
}

section {
    margin: 40px 0;
}

h1,
h2 {
    margin-bottom: 10px;
}

span {
    color: yellow;
    font-weight: bold;
}


/* =====================================


Position Styling


=========================================*/

.hero {
    width: 800px;
    position: relative;
    filter: brightness(0.8) blur(1px);
}

.logo {
    width: 800px;
    position: absolute;
    top: 50px;
}

.right {
    height: 500px;
    padding: 0 50px;
    position: relative;
    animation: bottle 1s infinite;
    float: right;
}


/* ===================================================


Animation Styling


=======================================================*/

@keyframes bottle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-10deg);
    }
}